<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/navbar.css">
</head>
<body>
  <header>
    <h1><em>CAC.com</em></h1>
    <!-- Barra de navegación -->
    <img src="/static/img/hamburguer_menu.svg" class="abrir-btn" alt="">
    <nav class="" id="navbar">
      <ul class="opciones">
        <li><a href="/agendar">Agendar Cita</a></li>
        <li><a href="/buscarCita">Panel Citas</a></li>
        <li><a href="/getTicket">Tickets</a></li>
        <li><a href="/pay_premium">Bancos</a></li>
        <li><a href="/login_admin">Administración</a></li>
    
      </ul>
    </nav>
  </header>
</body>
</html>
