<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CAC</title>
  <link rel="stylesheet"  href="/static/css/principal.css">
</head>
<body>
  <!-- Header -->
  <%- include('./navbar.ejs'); %>

<!-- Main -->
<main class="mainPage">
  <div class="imagen_promo">
    <img src="/static/img/promoIMG.png" alt="">
  </div>
  <div class="promo_sec">
    <h1>Plan Premium: Tu mejor opci칩n</h1>
    <p>Evita las largas filas</p>
    <p>Atenci칩n y citas prioritarias</p>
    <div class="button_promo">
      <a href="#"><button>Obtener Premium</button></a>
    </div>
  </div>
</main>

<footer class="footer_principal">
  <div class="contactanos">
    <h2>Cont치ctanos</h2>
    <ul class="numbers">
      <li>Cel: 3002336900</li>
      <li>Cel: 3002336900</li>
      <li>Correo: cac321@cac.com</li>
    </ul>
  </div>
  <div class="ubicados">
    <h2>Estamos Ubicados</h2>
    <ul class="ubis">
      <li class ="sede">Sede Bucaramanga</li>
      <li>Calle 31 No. 36-34 Cabecera del Llano</li>
      <li class ="sede">Sede Bogot치</li>
      <li>Calle 152 No. 9-80 Barrio Cedritos</li>
    </ul>
  </div>
  <h1 class="footer_title">CAC.com</h1>
</footer>
<script src="../js/nav.js"></script>
</body>
</html>
